
<mat-card style="background-color: rgb(102, 102, 102)">
  <mat-card-title>
      <div align='center'>
          <img src="../../assets/logo.jpg">
      </div>
  </mat-card-title>
  <div align='center'>
  <mat-card-content style="align-items: initial">
      <button
          mat-raised-button
          style="background-color: coral; border: black; border-style: double"
          routerLink="home"
      >
          <mat-icon>home</mat-icon>
          Home
      </button>
      <button
          mat-raised-button
          style="background-color: coral; border: black; border-style: double"
          routerLink="login"
      >
          <mat-icon>supervised_user_circle</mat-icon>
          Login
      </button>
      <button
          mat-raised-button
          style="background-color: coral; border: black; border-style: double"
          routerLink="profilo"
      >
          <mat-icon>account_box</mat-icon>
          Profilo
      </button>
      <button
          mat-raised-button
          style="background-color:coral; border: black; border-style: double"
          routerLink="certificati"
      >
          <mat-icon>email</mat-icon>
          Certificato
      </button>

  </mat-card-content>
</div>
</mat-card>
